.participantsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.participantsItem {
  width: calc((100% - 20px * 3) / 4);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 100px;
}

.participantsText {
  color: var(--accent-color);
  text-align: center;
  padding: 30px;
}
