.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.formInput,
.formInputDate,
.formEventInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  outline: 0;
  transition: border var(--transition);
}

.formInput:hover,
.formInput:focus,
.formInputDate:hover,
.formInputDate:focus,
.formEventInput:hover,
.formEventInput:focus {
  border: 1px solid var(--accent-color);
}

.formLabel,
.formLabelDate {
  position: absolute;
  left: 20px;
  bottom: 50%;
  line-height: 1.375;
  transform: translate(0, 50%);
  transition:
    transform var(--transition),
    font-size var(--transition),
    color var(--transition);
}

.formInput:focus + .formLabel,
.formInputDate:focus + .formLabelDate,
.formInput:not(:placeholder-shown) + .formLabel,
.formInputDate.filled + .formLabelDate {
  transform: translateY(-30%);
  font-size: 14px;
  color: var(--accent-color);
  background-color: transparent;
}

.formInput:not(:placeholder-shown) + .formLabel {
  transform: translateY(-30%);
  background-color: transparent;
}

.formInput::placeholder {
  opacity: 0;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  color: brown;
}

.formLabelDate {
  background-color: var(--background-color);
}

.formText {
  margin-bottom: 10px;
}

.formFeedbackList {
  display: flex;
  gap: 20px;
}

.formFeedbackLabel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.formBtn {
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 15px;
  transition:
    color var(--transition),
    background-color var(--transition);
}

.formBtn:hover,
.formBtn:focus {
  border: 1px solid var(--accent-color);
}

.formBtn:active {
  background-color: var(--accent-color);
}
